body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1, header a {
    margin: 0;
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
}

article {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

article h2 {
    margin-top: 0;
}

article p {
    margin: 10px 0;
}

article small {
    color: #666;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4; /* Ajusta el color de fondo según tus necesidades */
}

footer p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}
